@font-face {
  font-family: "CustomFont";
  src: url("asset/font/resident_evil_4_remake_fonts.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
}

body {
  background-image: url("BG.png");
}

.container {
  height: 100vh;
  width: 100%;
}

.navbar {
  font-family: "Castoro Titling", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2%;
  height: 80px;
}

.navbar-nav a {
  display: inline-block;
  color: black;
  margin-right: 40px;
  color: #f0f8ff;
  margin: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav a:hover,
.navbar-extra:hover,
.content2:hover {
  color: rgb(31, 31, 31);
  transform: scale(1.1); /* Efek pembesaran saat hover */
}

.navbar img {
  width: 120px;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  background: linear-gradient(
    to top,

    #7d14167e,
    rgba(125, 20, 22, 0.267),
    rgba(125, 20, 22, 0)
  ); /* Gradasi transparan bawah ke atas */
}

.content1,
.content2 {
  padding: 15px 30px;
  cursor: pointer;
  margin: 0px;
}

.content1 {
  margin: 300px auto 0px;
  color: black;
  width: 350px;
  height: 75px;
  background: linear-gradient(
    to right,
    rgba(220, 220, 220, 0),
    rgba(220, 220, 220, 0.32),
    gainsboro,
    rgba(220, 220, 220, 0.32),
    rgba(220, 220, 220, 0)
  ); /* Gradasi transparan kanan dan kiri */
  font-size: 25px;
  text-align: center;
}
.content2 {
  color: white;
  background-color: #c0191f;
  border-radius: 40px;
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  margin-top: -20px;
}
.content1 a,
.content2 a {
  color: inherit;
}
.navbar-extra {
  margin: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-extra a {
  font-family: "Castoro Titling", sans-serif; /* Menggunakan font dari Google Fonts */
  text-decoration: none;
  color: aliceblue;
  transform: scale(1.1); /* Efek pembesaran saat hover */
}

button {
  background-color: #7d1416;
  padding: 8px 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}
button:hover {
  color: rgb(31, 31, 31); /* Warna teks berubah saat hover */
}
