* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
}
body {
  background-image: url("asset/SIGN UP OR IN/bg sign up.png");
  height: 100vh;
  background-size: cover; /* Menyesuaikan ukuran gambar agar menutupi seluruh layar */
  color: aliceblue;
}
.header {
  height: 70px;
  width: 100%;
}
.header img {
  width: 120px;
  margin: 2rem 2rem;
}
.form {
  width: 100%;
  height: calc(100vh - 70px); /*Menyesuaikan tinggi agar 100% viewport height */
  text-align: right;
  padding: 4rem 2rem;
}
.form,
a,
h1 {
  color: aliceblue;
  font-family: "Cinzel", sans-serif;
}
h1 {
  font-size: 52px;
}
p {
  font-family: "Crimson Pro", sans-serif; /* Menggunakan font dari Google Fonts */
}

input {
  color: aliceblue; /* Warna teks */
  font-family: "Inter", sans-serif; /* Font family */
  width: 300px; /* Lebar input */
  border: none; /* Hapus semua border default */
  border-bottom: 1px solid aliceblue; /* Garis bawah */
  background-color: black; /* Warna latar belakang hitam */
  text-align: left; /* Teks rata kiri (default) */
  padding: 5px; /* Tambahkan padding untuk kenyamanan */
}

input::placeholder {
  color: aliceblue; /* Warna placeholder */
  opacity: 0.7; /* Placeholder lebih transparan */
}

.button {
  text-decoration: none;
  background-color: #7d1416;
  width: 300px;
  margin-top: 1.5rem;
  padding: 8px 20px;
  border: none;
  text-align: center;
}
